{{>navbar}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View User</li>
    </ol>
</nav>

{{#each rows}}
<form>
    <fieldset disabled>
        {{>user_form}}
    </fieldset>
</form>
{{/each}}